In [31]:
# Have to modify Player_id, Player_name
# Link => split for theses two variables

import pandas as pd
import re
import os

# File 1
club_name = "Barcelona"
FILE_BASE_PATH=f"C:/Users/ssm47/Desktop/Git (Projets Perso)/Football/Data/Csv/Bs4_results/Players/{club_name}"
df=pd.read_csv(f'{FILE_BASE_PATH}/{club_name}_Players.csv')

In [32]:
# File 2
club_name2 = "Real-Madrid"
FILE_BASE_PATH=f"C:/Users/ssm47/Desktop/Git (Projets Perso)/Football/Data/Csv/Bs4_results/Players/{club_name2}"
df2=pd.read_csv(f'{FILE_BASE_PATH}/{club_name2}_Players.csv')

In [33]:
# File 3
club_name3 = "Sevilla"
FILE_BASE_PATH=f"C:/Users/ssm47/Desktop/Git (Projets Perso)/Football/Data/Csv/Bs4_results/Players/{club_name3}"
df3=pd.read_csv(f'{FILE_BASE_PATH}/{club_name3}_Players.csv')

In [34]:
df=df[["Player","Link","Player_name(param)","Player_id(param)"]]
df2=df2[["Player","Link","Player_name(param)","Player_id(param)"]]
df3=df3[["Player","Link","Player_name(param)","Player_id(param)"]]

In [36]:
pd.concat([df,df2,df3]).drop_duplicates().reset_index(drop=True)

,Player,Link,Player_name(param),Player_id(param)
0,﻿Patrick Kluivert,/en/players/6c3b0583/Patrick-Kluivert,Patrick-Kluivert,6c3b0583
1,Frank de Boer,/en/players/777eaa16/Frank-de-Boer,Frank-de-Boer,777eaa16
2,Carles Puyol,/en/players/7c0bda9b/Carles-Puyol,Carles-Puyol,7c0bda9b
3,Phillip Cocu,/en/players/75522231/Phillip-Cocu,Phillip-Cocu,75522231
4,Xavi,/en/players/c1b4188c/Xavi,Xavi,c1b4188c
...,...,...,...,...
657,Pedro Ortiz,/en/players/f9358b61/Pedro-Ortiz,Pedro-Ortiz,f9358b61
658,Juan Sánchez,/en/players/ff4f78e1/Juan-Sanchez,Juan-Sanchez,ff4f78e1
659,Valentino Scotta,/en/players/98529579/Valentino-Scotta,Valentino-Scotta,98529579
660,Alberto López,/en/players/c25f14a7/Alberto-Lopez,Alberto-Lopez,c25f14a7
661,Enrique Valiente,/en/players/0a69de7b/Enrique-Valiente,Enrique-Valiente,0a69de7b

In [61]:
# Csv File Save

df_player = pd.DataFrame(
    {'Player': player_list,
     'Link' : link_list,
     'Player_name(param)': player_name_list,
     'Player_id(param)': player_id_list
    })

In [62]:
df_player.to_csv(f'{club_name}_Players.csv')

,Player,Link,Player_name(param),Player_id(param)
0,﻿Patrick Kluivert,/en/players/6c3b0583/Patrick-Kluivert,Patrick-Kluivert,6c3b0583
1,Frank de Boer,/en/players/777eaa16/Frank-de-Boer,Frank-de-Boer,777eaa16
2,Carles Puyol,/en/players/7c0bda9b/Carles-Puyol,Carles-Puyol,7c0bda9b
3,Phillip Cocu,/en/players/75522231/Phillip-Cocu,Phillip-Cocu,75522231
4,Xavi,/en/players/c1b4188c/Xavi,Xavi,c1b4188c
...,...,...,...,...
213,Estanis,/en/players/ace50e9f/Estanis,Estanis,ace50e9f
214,Mika Màrmol,/en/players/e7630876/Mika-Marmol,Mika-Marmol,e7630876
215,Lazar Carević,/en/players/8804949c/Lazar-Carevic,Lazar-Carevic,8804949c
216,Guillem Jaime,/en/players/3341009a/Guillem-Jaime,Guillem-Jaime,3341009a
217,Jandro Orellana,/en/players/693e93f1/Jandro-Orellana,Jandro-Orellana,693e93f1