# Merge multiple csv files to one file

# 1) Open Notepad in the folder that has multiple csv files that we want to combine

# 2) Write : copy *.csv {name_you_want}.csv => "PL_CLUBS_2012_2022.csv"

# 3) Save as .bat file

# 4) Execute it

In [38]:
# 1. Premier League
import pandas as pd

df_premier_league = pd.read_csv('C:/Users/ssm47/Desktop/Git (Projets Perso)/Football/Data/Csv/Bs4_results/Clubs/Premier-League/Premier-League_merged.csv')

In [41]:
# Remove the row having Nan. So, I remove the last row
df_premier_league = df_premier_league[1:]
df_premier_league

                         2012-2013 Premier-League
3  Chelsea      38 22 9          7             75
4  Arsenal      38 21 10         7             73
5  Tottenham    38 21 9          8             72
6  Everton      38 16 15         7             63
7  Liverpool    38 16 13         9             61
...                            ...            ...
16 Everton      38 11 6         21             39
17 Leeds United 38 9  11        18             38
18 Burnley      38 7  14        17             35
19 Watford      38 6  5         27             23
20 Norwich City 38 5  7         26             22

[216 rows x 2 columns]

In [36]:
df_premier_league.columns.values.tolist()

['2012-2013', 'Premier-League']